[[source]]
name = "pytest_testcontainers"
url = 'https://pypi.python.org/simple'
version = "0.1.0"
description = ""

[packages]
sqlalchemy = ">=1.3"
pg8000 = ">=1.13"
psycopg2-binary = "*"

[dev-packages]
pytest = ">=3.0"
pytest-cov = ">=2.7.1"
flake8 = ">=3.7"
testcontainers = ">=2.5"

[requires]
python = ">=3.7"
